/.github export-ignore
/.vscode export-ignore
/.prettierrc export-ignore

/tsconfig.json export-ignore
/package.json export-ignore
/package-lock.json export-ignore

/example export-ignore
/assets export-ignore
/src export-ignore
/tests export-ignore